@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap');

body {
    background-image: url(/images/bg-body.jpeg);
    font-family: 'Zen Dots', cursive;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;
}

.page-style {
    margin-top: 20px;
    border: 4px solid #0E0E10;
    border-radius: 4px;
    background-color: #0e0e10bd;
    height: 500px;
    width: 800px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas-div {
    margin-top: 30px;
}

#canvas {
    display: block;
    margin-bottom: 5px;
}

.menu-btns {
    display: flex;
}

.btn {
    position: relative;
    color: #FBFFFE;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px 20px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.btn:hover {
    color: black;
    background: black url(/images/pixel.png);
    border-radius: 4px;
    transition-delay: 0.6s;
    background-size: 180px;
    animation: Animate 0.8s steps(8) forwards;
}

@keyframes Animate {
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y: -480px;
    }
}

.game-description p {
    margin: 50px 100px;
}

.instructions {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.z-and-p-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.instructions-text {
    color: #FBFFFE;
    text-align: center;
}

.first-p {
    margin-bottom: 20px;
}

.spacebar {
    margin-left: 135px;
}

.description {
    width: 250px;
    height: 250px;
    margin: 0 10px;
}

.description h2 {
    font-size: 20px;
}

.description p {
    font-size: 15px;
    line-height: 1.5;
}

.description img {
    margin-top: 20px;
}

.end-img {
    opacity: 0.6;
    margin: 10px;
}
